@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Inter:wght@200;300;400;500&display=swap');
:root {
    --font-family: 'Inter', sans-serif;
    --body-background-mode: #1E1E1E;
    --background-color: #2e2e30;
    --background-color-secondary: #424244;
    --background-color-ligth: #ffffff;
    --text-color-primary: #CCCCCC;
    --color: #b4b4bd;
    --html-blue: #5BAAE2;
    --html-red: #E67786;
    --html-lightblue: #BFFADD;
    --html-green: #756F3D;
    --html-white: #FFFFFF;
}

body {
    background-color: var(--body-background-mode);
    font-family: var(--font-family);
    font-weight: 300;
}

.main__blue {
    color: var(--html-blue);
}

.main__white {
    color: var(--html-blue);
}

.main__lightblue {
    color: var(--html-lightblue);
}


/* Comienzo sección principal */

.layout {
    display: grid;
    grid: "aside header" auto "aside main" auto / 1fr 3fr;
    width: 75%;
    margin: 0 auto;
    background-color: black;
    border-radius: 1.875rem;
    padding: 2rem 1rem 2.5rem 1.5rem;
    margin-top: 5rem;
}


/* aside */

.aside {
    grid-area: aside;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.aside__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
}

.aside__logo {
    width: 4rem;
}

.aside__menu {
    margin-top: 4rem;
}

.aside__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5625rem;
    margin-bottom: 1.5rem;
}

.aside__a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.28rem;
}

.aside__a {
    padding: 5px;
    color: var(--color);
    transition: 0.6s ease-in-out;
}

.aside__i {
    margin-right: 8px;
}

.aside__a:hover {
    color: white;
    transform: scale(1.02);
}

.aside__copy {
    display: flex;
    width: 16.75rem;
    height: 5.3125rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    /* margin-top: 11rem; */
    margin-top: auto;
    background: linear-gradient(101deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 58.37%);
}

.aside__logo--footer {
    width: 3rem;
}


/* header */

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

.header__breadcrumb {
    font-weight: 200;
}


/* main */

.main {
    grid-area: main;
    flex-shrink: 0;
    display: grid;
    grid: "profile profile profile" auto "html css figma" 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.main__img-profile {
    width: 44.25rem;
    height: 20.0625rem;
}

.main__h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #292A36;
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.main__h3 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 400;
}

.main__ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
    justify-content: center;
}

.main__li {
    list-style: disc;
    margin-left: 1.5rem;
}

.main__href {
    display: inline;
    color: #1f6feb
}

.main__profile {
    grid-area: profile;
    border-radius: 1.875rem;
    height: auto;
    padding: 2.5rem 1rem 2.5rem 1.5rem;
    border: 2px solid var(--Primary-Grey, #292A36);
}

.main__profile--nomargin {
    grid-area: profile;
    height: auto;
    padding: 0rem;
}

.main__content--form {
    border: 2px dashed #b4b4bd;
    padding: 2rem;
    border-radius: 2rem;
}

.main__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.main-tools {
    grid-area: main;
    display: grid;
    grid: "main__top main__left main__right" auto "main__top--title main__left--title main__right--title" auto / 1fr 1fr 1fr;
    gap: 8px;
    align-content: space-evenly;
    align-items: center;
}

.main-tools__top {
    grid-area: main__top;
}

.main-tools__left {
    grid-area: main__left;
}

.main-tools__right {
    grid-area: main__right;
}

.main__image--html {
    border-radius: 1.875rem;
}

.main-tools__title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.main__tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}

.main__image {
    width: 40px;
    height: 40px;
}

.main__image--linkedin {
    width: 30px;
    height: 30px;
}

.main--code {
    overflow: visible;
}

.element__content {
    background-color: #2e2e30;
    border-radius: 1rem;
    min-height: 12rem;
}

.element__title {
    background-color: #b4b4bd;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.element__element {
    padding: 2rem;
    color: #FFFFFF;
    font-size: larger;
}

.form__input {
    width: 90%;
    background-color: #FFFFFF;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    border: 1px solid #b4b4bd;
}

.form__label {
    color: var(--html-lightblue);
}

.form__alert {
    color: var(--html-red);
    font-size: 0.8rem;
    font-style: italic;
}

.form__btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    padding: 0.6rem 0.8rem;
}

.form__btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.form__btn:hover {
    stroke-dashoffset: -480;
}

.chart__container {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}

.main__html {
    grid-area: html;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 1.875rem;
    border: 2px solid var(--Primary-Grey, #292A36);
}

.main__css {
    grid-area: css;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 1.875rem;
    border: 2px solid var(--Primary-Grey, #292A36);
}

.main__figma {
    grid-area: figma;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 1.875rem;
    border: 2px solid var(--Primary-Grey, #292A36);
}

.bottom_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.bottom__title {
    font-size: 1rem;
    font-weight: 300;
}

.bottom__subtitle {
    font-size: 0.8rem;
    font-weight: 300;
}

.bottom__percent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.375rem;
    justify-content: space-between;
}

.chart__svg {
    width: 5rem;
    height: 4rem;
}

.number__percent {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 4.9rem */
    letter-spacing: -0.035rem;
}